body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Comfortaa', cursive;
}

.bg-brand-blue {
    background-color: #1355a5 !important;
}

.bg-brand-red {
    background-color: #d40b0c !important;
}

.text-brand-blue {
    color: #1355a5 !important;
}

.text-brand-red {
    color: #d40b0c !important;
}

.btn-brand-red {
    background-color: #d40b0c;
    border: none;
}

.btn-brand-red:hover {
    background-color: #b0090a;
    color: #fff;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link.active, .nav-link:hover {
    color: #ffffff !important;
    font-weight: 600;
}

.border-brand-blue {
    border: 3px solid #1355a5;
}

.slick-prev:before, .slick-next:before {
    color: #1355a5;
    font-size: 30px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #1355a5;
}
