body {
  font-family: 'Open Sans', system-ui;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', system-ui;
}

.color-blue {
  color: #1355a5;
}

.bg-color-blue {
  background-color: #1355a5;
}

.border-blue {
  border: 1px solid #1355a5;
}

.color-red {
  color: #d40b0c;
}

.bg-color-red {
  background-color: #d40b0c;
}

.red-hover:hover {
	color: #d40b0c !important;
}

.bg-red-hover:hover {
	background-color: #fff;
	color: #d40b0c !important;
}


/* Carousel fixes */

.carousel-img {
  max-height: 500px;
}

.slick-prev:before,
.slick-next:before {
  color: #d40b0c;
  font-size: 24px;
}

.slick-dots li button:before {
  font-size: 16px;
}

.slick-dots li.slick-active button:before {
  color: #d40b0c;
}


/* Interactivity fixes */

.navbar-brand img {
  transition: transform 0.3s ease;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

.toast-success {
  background-color: #1355a5;
  border-color: #1355a5;
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none;
  }
}
